dataset:
  type: single_knn
  params:
    base: images
    dataset: 'mnist'
    metric: 'vae'
  validation:
    use_train: True
model_config:
  model: EncodeProcessDecode
  cfg:
    processor_cfg:
      model: GraphPDHGNet
      cfg:
        layer_type: PDHGLayer
        hidden_dim: 128
        num_layers: 4
        tau: 0.35
        sigma: 0.35
    in_node_dim: 2
    in_edge_dim: 2
    embedding_dim: 32
    mlp_hidden_dim: 128
    lam: 1.0
    residual_stream: False
    recurrent_steps: 1
device: cuda:0
epochs: 500
loss_function: energy_pdg
lr: 0.0001
batch_size: 1

