# configs/pdhg_two_moons.yaml
experiment:
  dataset:
    type: single_knn
    params:
      base: two_moons
      n_samples: 100
      n_graphs: 1
      noise: 0.15
    validation:
      use_train: True
  model_config:
    model: EncodeProcessDecode
    cfg:
      processor_cfg:
        model: GraphPDHGNet
        cfg:
          layer_type: PDHGLayer
          hidden_dim: 128
          num_layers: 8
          tau: 0.35
          sigma: 0.35
      in_node_dim: 2
      in_edge_dim: 2
      embedding_dim: 32
      mlp_hidden_dim: 128
      lam: 1.0
      residual_stream: False
      recurrent_steps: 1
  device: cuda:2
  epochs: 1000
  loss_function: energy
  lr: 0.0001
  batch_size: 64



sweep:
  project: primal-dual
  method: grid

  metric:
    name: val/loss
    goal: minimize

  parameters:
    lr:
      values: [1e-4]

    hidden_dim:
      values: [128]
    num_layers:
      values: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    lam:
      values: [1.0]
    tau:
      values: [0.35]
    sigma:
      values: [0.35]
