# configs/pdhg_two_moons.yaml
experiment:
  dataset:
    type: create_two_moons
    params:
      n_samples: 100
      noise: 0.15

  model_config:
    model: GraphPDHGNet
    cfg:
      layer_type: PDHGLayer
      in_node_dim: 2
      in_edge_dim: 2
      hidden_dim: 128
      num_layers: 4
      lam: 1.0
      tau: 0.35
      sigma: 0.35

  device: cuda:0
  epochs: 100
  loss_function: energy
  lr: 0.0001
  batch_size: 1

sweep:
  project: primal-dual
  method: grid

  metric:
    name: val/loss
    goal: minimize

  parameters:
    lr:
      values: [1e-3, 3e-4, 1e-4]

    hidden_dim:
      values: [64, 128]
    num_layers:
      values: [2, 4]
    lam:
      values: [0.1, 1.0]
    tau:
      values: [0.2, 0.35]
    sigma:
      values: [0.2, 0.35]

    noise:
      values: [0.05, 0.15, 0.25]
